.jumbotron {
  color: white;
  background-image: url(../img/comercio.jpg);
  background-size: cover;
  margin-top: 50px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #343a40;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}
.carousel-inner img {
  margin: auto;
}
.carousel-inner {
  width: 100%;
  height: 300px !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: green;
}
